USE [master]
GO
/****** Object:  Database [StudentPartTimeJobDB]    Script Date: 2025/12/22 11:29:19 ******/
CREATE DATABASE [StudentPartTimeJobDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'part_job', FILENAME = N'D:\sql\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\part_job.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'part_job_log', FILENAME = N'D:\sql\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\part_job_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentPartTimeJobDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentPartTimeJobDB]
GO
/****** Object:  Table [dbo].[t_apply]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_apply](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[job_id] [bigint] NOT NULL,
	[resume_id] [bigint] NOT NULL,
	[attach_info] [text] NULL,
	[apply_status] [varchar](20) NOT NULL,
	[apply_time] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_company]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_company](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](200) NOT NULL,
	[credit_code] [varchar](18) NOT NULL,
	[legal_person_name] [varchar](50) NOT NULL,
	[company_address] [varchar](500) NOT NULL,
	[company_phone] [varchar](20) NOT NULL,
	[company_pwd] [varchar](32) NOT NULL,
	[company_avatar] [varchar](500) NULL,
	[status] [int] NULL,
	[create_time] [datetime] NULL,
	[update_time] [datetime] NULL,
	[verify_code] [varchar](6) NULL,
	[code_create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[company_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[credit_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_evaluate]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_evaluate](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[job_id] [bigint] NOT NULL,
	[salary_score] [int] NOT NULL,
	[real_score] [int] NOT NULL,
	[env_score] [int] NOT NULL,
	[content] [text] NULL,
	[reply] [text] NULL,
	[create_time] [datetime] NOT NULL,
	[reply_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_job]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_job](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[province] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[district] [varchar](50) NULL,
	[salary] [decimal](10, 2) NOT NULL,
	[salary_range] [varchar](50) NULL,
	[content] [text] NULL,
	[company_name] [varchar](100) NOT NULL,
	[apply_count] [int] NOT NULL,
	[publish_time] [datetime] NOT NULL,
	[valid_time] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[publisher_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_message]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_message](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[msg_type] [varchar](50) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[content] [text] NOT NULL,
	[is_read] [int] NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_resume]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_resume](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[resume_name] [varchar](100) NOT NULL,
	[file_path] [varchar](255) NOT NULL,
	[file_name] [varchar](100) NOT NULL,
	[education] [varchar](50) NULL,
	[work_experience] [text] NULL,
	[skill_tags] [varchar](200) NULL,
	[expected_salary] [varchar](50) NULL,
	[is_default] [int] NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_user]    Script Date: 2025/12/22 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NOT NULL,
	[skill_tags] [varchar](200) NULL,
	[expected_salary] [varchar](50) NULL,
	[avatar] [varchar](200) NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_apply_job]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_apply_job] ON [dbo].[t_apply]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_apply_user]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_apply_user] ON [dbo].[t_apply]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_company_credit_code]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_company_credit_code] ON [dbo].[t_company]
(
	[credit_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_company_phone]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_company_phone] ON [dbo].[t_company]
(
	[company_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_evaluate_job]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_evaluate_job] ON [dbo].[t_evaluate]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_publisher]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_job_publisher] ON [dbo].[t_job]
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_message_user]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_message_user] ON [dbo].[t_message]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_resume_user]    Script Date: 2025/12/22 11:29:19 ******/
CREATE NONCLUSTERED INDEX [idx_resume_user] ON [dbo].[t_resume]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_apply] ADD  DEFAULT (getdate()) FOR [apply_time]
GO
ALTER TABLE [dbo].[t_apply] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_company] ADD  DEFAULT ((2)) FOR [status]
GO
ALTER TABLE [dbo].[t_company] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_company] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_evaluate] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_job] ADD  DEFAULT ((0)) FOR [apply_count]
GO
ALTER TABLE [dbo].[t_job] ADD  DEFAULT (getdate()) FOR [publish_time]
GO
ALTER TABLE [dbo].[t_message] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[t_message] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_resume] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[t_resume] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_resume] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_user] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_user] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_user] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[t_apply]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[t_job] ([id])
GO
ALTER TABLE [dbo].[t_apply]  WITH CHECK ADD FOREIGN KEY([resume_id])
REFERENCES [dbo].[t_resume] ([id])
GO
ALTER TABLE [dbo].[t_apply]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[t_user] ([id])
GO
ALTER TABLE [dbo].[t_evaluate]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[t_job] ([id])
GO
ALTER TABLE [dbo].[t_evaluate]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[t_user] ([id])
GO
ALTER TABLE [dbo].[t_job]  WITH CHECK ADD FOREIGN KEY([publisher_id])
REFERENCES [dbo].[t_user] ([id])
GO
ALTER TABLE [dbo].[t_message]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[t_user] ([id])
GO
ALTER TABLE [dbo].[t_resume]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[t_user] ([id])
GO
USE [master]
GO
